<!DOCTYPE html>
<html lang="en">

<head>
    <title>Weather App - about</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="img/gigachadmonkey.png">
    </div>
    {{>footer}}
</body>

</html>